[MASTER]

ignore=migrations
ignore-paths=migrations/.*


[SIMILARITIES]

min-similarity-lines=10


[FORMAT]

max-line-length=140

indent-string='    '


[DESIGN]

max-args=8

max-returns=30

max-branches=30

min-public-methods=0