{% extends "base.html" %}
{% block header %}
<div class="absolute w-full pt-5">
    <div class="flex w-5/6 justify-between mx-auto">
        <div class="flex">
            <a class="border-2 rounded-l font-semibold p-2 pt-1 border-gray-500 m-0 hover:bg-gray-100" href="{{ url_for('products.products_') }}">Products</a>
            <a class="border-2 border-x-0 font-semibold p-2 pt-1 border-gray-500 hover:bg-gray-100" href="{{ url_for('orders.orders_') }}">Orders</a>
            <a class="border-2 rounded-r font-semibold p-2 pt-1 border-gray-500 hover:bg-gray-100" href="{{ url_for('sellers.sellers_') }}">Sellers</a>
        </div>
        <div class="flex">
            <a class="border-2 rounded-l font-semibold p-2 pt-1 border-gray-500 m-0 hover:bg-gray-100" href="{{ url_for('sellers.profile') }}">My profile</a>
            <a class="border-2 border-l-0 rounded-r font-semibold p-2 pt-1 border-gray-500 hover:bg-gray-100" href="{{ url_for('auth.logout') }}">Log out</a>
        </div>
    </div>
</div>
{% endblock %}
{% block content %}
 <div class="w-5/6 h-5/6 bg-slate-100 rounded">
     <div class="grid h-full place-items-center">
         <form class="flex flex-col w-3/4 mx-auto" method="POST" action="{{ url_for('rest_api.sellerapi') }}" id="form">
             <div class="flex justify-center mb-5">
                 <label class="mr-14 w-12" for="name">Name</label>
                 <input class="border-2 rounded border-gray-500 px-1 w-56" type="text" id="name" name="name" value="" placeholder="Name">
             </div>
             <div class="flex justify-center mb-5">
                 <label class="mr-14 w-12" for="name">E-mail</label>
                 <input class="border-2 rounded border-gray-500 px-1 w-56 read-only:text-zinc-900" type="email" id="email" name="email" value="" placeholder="E-mail">
             </div>
             <div class="flex justify-center mb-5">
                 <label class="mr-14 w-12" for="name">Phone</label>
                 <input class="border-2 rounded border-gray-500 px-1 w-56" type="tel" id="phone" name="phone" value="" placeholder="Phone">
             </div>
             <div class="flex justify-center mb-5">
                 <label class="mr-14 w-12" for="password">Password</label>
                 <input class="border-2 rounded border-gray-500 px-1 w-56" type="password" id="password" name="password" value="" placeholder="Password">
             </div>
             <div class="flex justify-center space-x-12 mt-10">
                 <input class="border-2 w-24 p-2 pt-1 text-center rounded font-semibold hover:bg-gray-100 border-gray-500 bg-white shadow-md" type="submit" value="Edit">
                 <a class="border-2 w-24 p-2 pt-1 text-center rounded font-semibold hover:bg-gray-100 border-gray-500 bg-white shadow-md" href="{{ url_for('sellers.sellers_') }}">Cancel</a>
             </div>
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            <div class="m-auto w-full text-center text-red-900">{{ messages[0] }}</div>
            {% endif %}
            {% endwith %}
         </form>
     </div>
 </div>
<script>
    window.onload = function () {
        let sellerId = window.location.href.split("/").pop();

        $.ajax({
            url: "{{ url_for('rest_api.sellerapi') }}" + "/" + sellerId,
            type: "GET",
            dataType: 'json',
            success: function (response, status, xhr) {
                document.getElementById("name").value = response.name;
                document.getElementById("email").value = response.email;
                document.getElementById("phone").value = response.phone;
            },
            error: function (xhr, status, error) {
                alert("Error: " + xhr.status + " " + xhr.statusText);
            }
        })
    }

    $("#form").submit(function(e) {
        e.preventDefault();
        let sellerId = window.location.href.split("/").pop();

        $.ajax({
            url: "{{ url_for('rest_api.sellerapi') }}" + "/" + sellerId,
            type: "PUT",
            contentType: 'application/json',
            data: JSON.stringify({
                name: $("#name").val(),
                email: $("#email").val(),
                phone: $("#phone").val(),
                password: $("#password").val()
            }),
            success: function (response, status, xhr) {
                if (xhr.status === 200) {
                    window.location.href = "{{ url_for('sellers.sellers_') }}";
                }
                else {
                    alert(xhr.responseJSON.message);
                }
            },
            error: function (xhr) {
                console.log(xhr);
                alert(xhr.responseJSON.message);
            }
        });
    });
</script>
{% endblock %}