{% extends "base.html" %}
{% block header %}
<div class="absolute w-full pt-5">
    <div class="flex w-5/6 justify-between mx-auto">
        <div class="flex">
            <a class="border-2 rounded-l font-semibold p-2 pt-1 border-gray-500 m-0 hover:bg-gray-100" href="{{ url_for('products.products_') }}">Products</a>
            {% if not current_user.is_admin %}
            <a class="border-2 border-l-0 rounded-r font-semibold p-2 pt-1 border-gray-500 hover:bg-gray-100" href="{{ url_for('orders.orders_') }}">Orders</a>
            {% else %}
            <a class="border-2 border-x-0 font-semibold p-2 pt-1 border-gray-500 hover:bg-gray-100" href="{{ url_for('orders.orders_') }}">Orders</a>
            <a class="border-2 rounded-r font-semibold p-2 pt-1 border-gray-500 hover:bg-gray-100" href="{{ url_for('sellers.sellers_') }}">Sellers</a>
            {% endif %}
        </div>
        <div class="flex">
            <a class="border-2 rounded-l font-semibold p-2 pt-1 border-gray-500 m-0 bg-slate-300 hover:bg-slate-200" href="{{ url_for('sellers.profile') }}">My profile</a>
            <a class="border-2 border-l-0 rounded-r font-semibold p-2 pt-1 border-gray-500 hover:bg-gray-100" href="{{ url_for('auth.logout') }}">Log out</a>
        </div>
    </div>
</div>
{% endblock %}
{% block content %}
 <div class="w-5/6 h-5/6 bg-slate-100 rounded">
     <div class="grid h-full place-items-center">
         <div class="flex flex-col w-3/4 mx-auto">
             <div class="flex justify-center mb-5">
                 <label class="mr-14" for="name">Name</label>
                 <input class="border-2 rounded border-gray-500 px-1 w-56" type="text" id="name" name="name" value="{{ current_user.name }}" readonly>
             </div>
             <div class="flex justify-center mb-5">
                 <label class="mr-14" for="name">E-mail</label>
                 <input class="border-2 rounded border-gray-500 px-1 w-56 read-only:text-zinc-900" type="email" id="email" name="email" value="{{ current_user.email }}" readonly>
             </div>
             <div class="flex justify-center mb-5">
                 <label class="mr-14" for="name">Phone</label>
                 <input class="border-2 rounded border-gray-500 px-1 w-56" type="tel" id="phone" name="phone" value="{{ current_user.phone }}" readonly>
             </div>
             <a class="border-2 mt-10 w-24 p-2 pt-1 mx-auto rounded font-semibold hover:bg-gray-100 border-gray-500 bg-white shadow-md" href="{{ url_for('sellers.edit_profile') }}">Edit</a>
         </div>
     </div>
 </div>
{% endblock %}